
    
    <div class="jumbotron">
      <div class="container">
        <h1>Animations with ember-liquid-fire</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quis repellendus repudiandae explicabo quibusdam, officia ducimus consequuntur fugiat voluptate vitae, optio magni cum pariatur velit, tempore tempora veniam incidunt quia nisi blanditiis! Illo quas laboriosam, tenetur cumque at labore voluptatibus.</p>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quis repellendus repudiandae explicabo quibusdam, officia ducimus consequuntur fugiat voluptate vitae, optio magni cum pariatur velit, tempore tempora veniam incidunt quia nisi blanditiis! Illo quas laboriosam, tenetur cumque at labore voluptatibus.</p>
        <p><a class="btn btn-danger btn-lg" href="http://ember-animation.github.io/liquid-fire" target="_blank" role="button">See the Doc</a></p>
      </div>
    </div>
    
    
    <div class="animate-scale"> 
        <button type="button" name="button" class="btn btn-primary" {{action 'toggleAnimation' 'scale'}} >
          Scale
        </button>

        {{#liquid-if scale}}
        <div class="jumbotron ">
          <div class="container">
            <h1>I'm using Scale efect </h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quis repellendus repudiandae explicabo quibusdam, officia ducimus consequuntur fugiat voluptate vitae, optio magni cum pariatur velit, tempore tempora veniam incidunt quia nisi blanditiis! Illo quas laboriosam, tenetur cumque at labore voluptatibus.</p>
            
          </div>
        </div>
        {{/liquid-if}}
    </div>

    <div class="animate-fade">    
        <button type="button" name="button" class="btn btn-primary" {{action 'toggleAnimation' 'fade'}} >
          Fade
        </button>

        {{#liquid-if fade}}
        <div class="jumbotron">
          <div class="container">
            <h1>I'm using Fade efect </h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quis repellendus repudiandae explicabo quibusdam, officia ducimus consequuntur fugiat voluptate vitae, optio magni cum pariatur velit, tempore tempora veniam incidunt quia nisi blanditiis! Illo quas laboriosam, tenetur cumque at labore voluptatibus.</p>
            
          </div>
        </div>
        {{/liquid-if}}
   </div>

   <div class="animate-crossFade">    
        <button type="button" name="button" class="btn btn-primary" {{action 'toggleAnimation' 'crossFade'}} >
          crossFade
        </button>

        {{#liquid-if crossFade}}
        <div class="jumbotron">
          <div class="container">
            <h1>I'm using crossFade efect too </h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quis repellendus repudiandae explicabo quibusdam, officia ducimus consequuntur fugiat voluptate vitae, optio magni cum pariatur velit, tempore tempora veniam incidunt quia nisi blanditiis! Illo quas laboriosam, tenetur cumque at labore voluptatibus.</p>
            
          </div>
        </div>
        {{else}}
          <div class="jumbotron">
            <div class="container">
              <h1>I'm using crossFade efect</h1>
              <p> <b> CROSSED </b> si a templato rof a simple programming or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              
            </div>
          </div>
        {{/liquid-if}}
   </div>
  
   <div class="animate-wait">    
        <button type="button" name="button" class="btn btn-primary" {{action 'toggleAnimation' 'wait'}} >
        Wait
        </button>

        {{#liquid-if wait}}
          <div class="jumbotron">
            <div class="container">
              <h1>I'm using Wait efect </h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quis repellendus repudiandae explicabo quibusdam, officia ducimus consequuntur fugiat voluptate vitae, optio magni cum pariatur velit, tempore tempora veniam incidunt quia nisi blanditiis! Illo quas laboriosam, tenetur cumque at labore voluptatibus.</p>
              
            </div>
          </div>
        {{/liquid-if}}
   </div>



